.page {
    color: #ffffff;

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
}

main {
    position: relative;
    margin-left: 3.819%;
    margin-right: 3.819%;
}

/*texte à gauche et image à droite*/
.container {
    flex-direction: row;
    display: flex;
}

.gauche {
    position: absolute;
    text-align: left;
}

.phrase-accroche {
    position: relative;
    z-index: 2;
    color: #181E4B;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    font-size: 76px;
    width: 100%;
    line-height: 89px;
    margin-left: 5%;
}

.home-job {
    display: flex;
    position: absolute;
    z-index: 1;
    display: block;
    margin-top: 3.5%;
    margin-left: 38.125%;
}


.recents {
    position: relative;
    margin-top: 720px;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800px;
    font-size: 56px;
    line-height: 62px;

}

.recents a {
    position: relative;
    float: right;

    margin-top: -100px;

}


.entreprise {
    position: relative;
    width: 300px;
    height: 346px;
    border-radius: 30px;
    margin-top: 0px;
}

.entreprise-card {
    position: relative;
    width: 82%;
    height: 100%;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 35px;
    background: #ebebeb;
}

.entreprise-front {
    background-position: left;
}

.entreprise-content {
    text-align: center;
}

.entreprise-content img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin-top: -25%;
    object-fit: cover;
}

.entreprise-content h1 {
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.entreprise-content h2 {
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.entreprise-content p {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    color: #5E6282;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 20%;
}

.more {
    position: relative;
    float: right;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #23A6F0;
}

.box-recent {
    position: relative;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    justify-items: center;
}

.more-entreprise {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    margin-top: 150px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.095em;
    color: #4737FF;
}

a.more-entreprise:link {
    text-decoration: none;
}

#entreprises-h1 {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
}

#sous-entreprises {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

}

/*box entreprise*/

.box-entreprise {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* changer etudiant par entreprise*/
.container-entreprise {
    display: inline-block;
    position: relative;
    width: 366px;
    height: 452px;
    border-radius: 30px;
    margin: 3% auto;
}

.card-entreprise {
    border: 1px solid #DEDEDE;
    position: relative;
    width: 87%;
    height: auto;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 35px;
}

.front-entreprise {
    background-position: left;
}

.front-content-entreprise {
    text-align: center;
}

.front-content-entreprise img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin-top: 4%;
    object-fit: cover;
}

.front-content-entreprise h2 {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 11%;
}

.front-content-entreprise p {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    color: #737373;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 7%;
}

.front-content-entreprise-more {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: 8%;

}



.etoiles {
    font-size: 1.4rem;
    top: 150px;
    margin-top: 5%;

}

.gray {
    color: gray;
}

.gold {
    color: gold;
}



#blue-circle {

    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #18A0FB;

}

#search-entreprise {
    padding-left: 35px;
    color: #000000;
}

.blue-search-icon {
    position: absolute;
    padding-left: 400px;
}

#companyNumber {

    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 62px;



}