/*menu nav*/
header {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.search-bar input {
    width: 400px;
    padding: 14px 24px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #f0f1f2;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;
    transform: translateY(-50%);

}

#search {
    padding-left: 35px;
    color: #64748B;
}


.snip1198,

.snip1198 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1198 li {
    display: inline-block;
    list-style: outside none none;
    margin: 20px 0.8em;
}

.snip1198 a {
    padding: 0 0.7em;
    color: #64748B;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Plus Jakarta Sans', normal;
    text-align: center;
}

.snip1198 a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    left: 15%;
    right: 15%;
    top: 0;
    bottom: 0;
    border-left: 3px solid #fcb4b5;
    border-right: 3px solid #fcb4b5;
}

.snip1198 a:hover,
.snip1198 .current a {
    color: #64748B;
}

.snip1198 a:hover:before,
.snip1198 .current a:before {
    opacity: 1;
    left: 0;
    right: 0;
}

.sous {
    display: none;
    background-color: white;
    position: absolute;
    width: 6.28%;
    z-index: 1000;
    border-left: 1px solid #fcb4b5;
    border-right: 1px solid #fcb4b5;
    border-bottom: 1px solid #fcb4b5;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous li a {
    margin-left: -98%;
}



.login button {
    padding: 10px 30px;
    background-color: #fcb4b5;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
}

main {
    position: relative;
    margin-left: 3.8%;
    margin-right: 3.8%;
}

/*texte à gauche et image à droite*/
.container {
    flex-direction: row;
    display: flex;
}

.gauche {
    position: absolute;
    text-align: left;
}

.phrase-accroche {
    position: relative;
    z-index: 2;
    color: #181E4B;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    font-size: 76px;
    width: 100%;
    line-height: 89px;
    margin-left: 5%;
}

.home-job {
    display: flex;
    position: absolute;
    z-index: 1;
    display: block;
    margin-top: 3.5%;
    margin-left: 38.125%;
}

/*deux barre de recherche*/
.barre-recherche1 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    width: 260px;
    height: 40px;
    float: left;
    margin-top: -5%;
}

.barre-recherche1 input[type="text"] {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
}

.barre-recherche1 button[type="submit"] {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

.submit1 {
    font-size: inherit;
}

.barre-recherche2 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    width: 260px;
    height: 40px;
    margin-left: 50%;
    margin-top: -5%;
}

.barre-recherche2 input[type="text"] {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
}

.barre-recherche2 button[type="submit"] {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

.submit2 {
    font-size: inherit;
}

.para1 {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Plus Jakarta Sans', normal;
    left: 5%;
}

.offres button {
    background-color: #fcb4b5;
    color: #ffffff;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    position: absolute;
    width: 198px;
    height: 60px;
    left: 5%;
    box-shadow: 0px 20px 35px rgba(68.00001114606857, 117.0000234246254, 242.00000077486038, 0.20999999344348907);
    font-weight: 700;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', normal;
    top: 125%;

}

/* deuxième partie*/

.recents {
    position: relative;
    margin-top: 720px;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800px;
    font-size: 56px;
    line-height: 62px;

}

.recents a {
    position: relative;
    float: right;

    margin-top: -100px;

}


.entreprise {
    position: relative;
    width: 300px;
    height: 346px;
    border-radius: 30px;
    margin-top: 0px;
}

.entreprise-card {
    position: relative;
    width: 82%;
    height: 100%;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 35px;
    background: #ebebeb;
}

.entreprise-front {
    background-position: left;
}

.entreprise-content {
    text-align: center;
}

.entreprise-content img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin-top: -25%;
}

.entreprise-content h1 {
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.entreprise-content h2 {
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.entreprise-content p {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    color: #5E6282;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 20%;
}

.more {
    position: relative;
    float: right;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #23A6F0;
}

.box-recent {
    position: relative;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    justify-items: center;
}

.more-entreprise {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    margin-top: 150px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.095em;
    color: #4737FF;
}

a.more-entreprise:link {
    text-decoration: none;
}

#entreprises-h1 {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
}

#sous-entreprises {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

}


.container-etudiant {
    position: relative;
    width: 366px;
    height: 452px;
    border-radius: 30px;
    margin-top: 80px;
}

.card-etudiant {
    border: 1px solid #DEDEDE;
    position: relative;
    width: 87%;
    height: 100%;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 35px;
}

.front-etudiant {
    background-position: left;
}

.front-content-etudiant {
    text-align: center;
}

.front-content-etudiant img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin-top: 4%;
}

.front-content-etudiant h2 {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 11%;
}

.front-content-etudiant p {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    color: #737373;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 7%;
}

.front-content-etudiant-more {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #23A6F0;
    margin-top: 8%;

}

a.more-offres:link {
    text-decoration: none;
}

.etoiles {
    font-size: 1.4rem;
    top: 150px;
    margin-top: 5%;

}

.etoiles #etoile1 {
    color: orange;
}

.etoiles #etoile2 {
    color: orange;
}

.etoiles #etoile3 {
    color: orange;
}

.etoiles #etoile4 {
    color: gray;
}

.etoiles #etoile5 {
    color: gray;
}

.box-entreprise {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
    margin-left: 3%;
    margin-right: 3%;

}

.more-etudiants {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    margin-top: 150px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.095em;
    color: #4737FF;
}

a.more-etudiants:link {
    text-decoration: none;
}

#etudiants-h1 {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
}




.container-entreprise {
    position: relative;
    width: 366px;
    height: 452px;
    border-radius: 30px;
    margin-top: 80px;
}

.card-entreprise {
    border: 1px solid #DEDEDE;
    position: relative;
    width: 87%;
    height: 100%;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 35px;
}

.front-entreprise {
    background-position: left;
}

.front-content-entreprise {
    text-align: center;
}

.front-content-entreprise img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin-top: 10%;
}

.front-content-entreprise h1 {
    font-size: 30px;
    font-family: 'Plus Jakarta Sans';
    color: black;
    margin-top: 10%;
}

.front-content-entreprise p {
    font-family: 'Plus Jakarta Sans', normal;
    color: #737373;
    ;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.box-etudiants {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
    margin-left: 3%;
    margin-right: 3%;

}