/*menu nav*/
header {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.search-bar input {
    width: 400px;
    padding: 14px 24px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #f0f1f2;
}

.search-icon {
    position: absolute;
    top: 40%;
    left: 10px;
    z-index: 1;
    transform: translateY(-50%);

}

#search {
    padding-left: 35px;
    color: #64748B;
    outline: none;
    border: none;
}

.search-icon button {
    border: none;
    outline: none;
}


.snip1198,

.snip1198 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1198 li {
    display: inline-block;
    list-style: outside none none;
    margin: 20px 0.8em;
}

.snip1198 a {
    padding: 0 0.7em;
    color: #64748B;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Plus Jakarta Sans', normal;
    text-align: center;
}

.snip1198 a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    left: 15%;
    right: 15%;
    top: 0;
    bottom: 0;
    border-left: 3px solid #fcb4b5;
    border-right: 3px solid #fcb4b5;
}

.snip1198 a:hover,
.snip1198 .current a {
    color: #64748B;
}

.snip1198 a:hover:before,
.snip1198 .current a:before {
    opacity: 1;
    left: 0;
    right: 0;
}

.login button {
    padding: 10px 30px;
    background-color: #fcb4b5;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.login img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    background-color: #cbcbcb70;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2vw;
    color: #6C6C6C;
}

body {
    margin: 0;
}