.page {
    color: #ffffff;

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
}

main {
    position: relative;
    margin-left: 3.819%;
    margin-right: 3.819%;
}

#pilots-h1 {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
}

#sous-pilots {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

}

/*box pilot*/

.box-pilot {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* changer etudiant par pilot*/
.container-pilot {
    position: relative;
    width: 366px;
    height: 452px;
    border-radius: 30px;
    margin: 3% auto;
}

.card-pilot {
    border: 1px solid #DEDEDE;
    position: relative;
    width: 87%;
    height: auto;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 35px;
}

.front-pilot {
    background-position: left;
}

.front-content-pilot {
    text-align: center;
}


.front-content-pilot h2 {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 11%;
}

.front-content-pilot p {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    color: #737373;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 7%;
}

#studentNumber {

    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 62px;
}

.front-content-pilot img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin-top: 10%;
}