.page {
    color: #ffffff;

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
}

main {
    position: relative;
    margin-left: 3.819%;
    margin-right: 3.819%;
}

#etudiants-h1 {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 62px;
}

#sous-etudiants {
    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

}

/*box entreprise*/

.box-etudiant {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-etudiant {
    position: relative;
    width: 366px;
    height: 452px;
    border-radius: 30px;
    margin-left: 5%;
    margin-bottom: 10%;
}

.card-etudiant {
    border: 1px solid #DEDEDE;
    position: relative;
    width: 87%;
    height: 100%;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 35px;
}

.front-etudiant {
    background-position: left;
}

.front-content-etudiant {
    text-align: center;
}

.front-content-etudiant h2 {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 11%;
}

.front-content-etudiant p {
    position: relative;
    font-family: 'Plus Jakarta Sans', normal;
    color: #737373;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 7%;
}



.search-bar-etudiant {
    position: relative;
    display: grid;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.search-bar-etudiant input {
    border-radius: 50px;
    width: 488.86px;
    height: 73px;
    outline: none;
    color: black;
    font-size: large;
}


.search-icon-etudiant {
    position: relative;
    filter: invert(1);
    font-size: 30px;
    line-height: 60px;
    right: -14px;
}

#blue-circle {

    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #18A0FB;

}

#search-etudiant {
    padding-left: 35px;
    color: #000000;
}

.blue-search-icon {
    position: absolute;
    padding-left: 400px;
}

.search-bar-etudiant input[type=text] {
    background-color: white;
}

.filtrer {
    display: flex;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.842), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    position: absolute;
    cursor: pointer;
    margin-right: -700px;
}

.filtrer:hover {
    background-color: rgb(255, 255, 255);
}

.filtrer:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.863), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#studentNumber {

    position: relative;
    text-align: center;
    font-family: 'Plus Jakarta Sans', normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 62px;



}

.front-content-etudiant img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin-top: 10%;
    object-fit: cover;
}